<section class="hero is-small is-dark">
	<div class="hero-body"
		style="padding-top: 4.13rem; padding-bottom: 5rem;">
		<div class="container">
			<h1 class="title is-2">
				<strong>About</strong>
			</h1>
			<h1 class="subtitle is-4 ">Conocé más sobre el equipo y nuestro proyecto.</h1>
		</div>
	</div>
</section>

<section class="hero is-white">
	<div class="hero-body">
		<div class="container">
			<p class="title is-3">
				<strong> El equipo </strong>
			</p>
		</div>
		<div class="container">
			<div class="tile is-ancestor has-text-centered">
				<article class="tile is-child is-2"></article>
				<article class="tile is-child is-4 ">

					<div class="flip-container"
						ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<figure
									style="margin-left: auto; margin-right: auto; margin-top: 20px;"
									class="image is-256x256">
									<img class="img-circle" src="/assets/img/mauroNormal.png">
								</figure>
								<hr style="margin-top: 1rem; margin-bottom: 1rem;">
								<p class="title is-4">
									<a href="https://www.linkedin.com/in/mauro-aragunde-074931121"
										target="_blank"> <strong>Mauro Aragunde</strong> <i
										class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</p>
								<p class="subtitle is-5">Fundador</p>
							</div>
							<div class="back">
								<figure
									style="margin-left: auto; margin-right: auto; margin-top: 20px;"
									class="image is-256x256">
									<img class="img-circle" src="/assets/img/mauroSorprendido.png">
								</figure>
								<hr style="margin-top: 1rem; margin-bottom: 1rem;">
								<p class="title is-4">
									<a class="specialeffects"
										href="https://www.linkedin.com/in/mauro-aragunde-074931121"
										target="_blank"> <strong>Mauro Aragunde</strong> <i
										class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</p>
								<p class="subtitle is-6">maragunde93@gmail.com</p>
							</div>
						</div>
					</div>

				</article>
				<br>
				<article class="tile is-child is-4 ">

					<div class="flip-container"
						ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<figure
									style="margin-left: auto; margin-right: auto; margin-top: 20px;"
									class="image is-256x256">
									<img class="img-circle" src="/assets/img/eze1.jpg">
								</figure>
								<hr style="margin-top: 1rem; margin-bottom: 1rem;">
								<p class="title is-4">
									<a href="https://www.linkedin.com/in/egcampos" target="_blank">
										<strong>Ezequiel Campos</strong> <i
										class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								</p>
								<p class="subtitle is-5">Fundador</p>
							</div>
							<div class="back">
								<figure
									style="margin-left: auto; margin-right: auto; margin-top: 20px;"
									class="image is-256x256">
									<img class="img-circle" src="/assets/img/eze2.jpg">
								</figure>
								<hr style="margin-top: 1rem; margin-bottom: 1rem;">
								<p class="title is-4">
									<a class="specialeffects"
										href="https://www.linkedin.com/in/egcampos" target="_blank">
										<strong>Ezequiel Campos</strong> <i
										class="fa fa-linkedin-square" aria-hidden="true"></i>
									</a>
								<p class="subtitle is-6">ecampos@uade.edu.ar</p>
							</div>
						</div>
					</div>

				</article>
				<article class="tile is-child has-text-centered is-2"></article>
			</div>
		</div>
	</div>
</section>

<section class="hero is-info">
	<div class="hero-body is-info">
		<div class="container">
			<div class="container ">
				<p class="title is-3">
					<strong>La historia</strong>
				</p>
				<h1 class="subtitle is-4 ">En la industria metalúrgica el
					diagnóstico de defectos en las piezas es una actividad común y
					fundamental, ya que permite determinar causas puntuales de los
					defectos y estrategias para evitarlos, aportando así a la mejora
					continua de los procesos productivos. Debido a los altos costos
					asociados a los defectos hay una clara necesidad de un método
					rápido y preciso para analizarlos y corregirlos. El propósito de
					Castingware es satisfacer esta creciente necesidad dentro de la
					industria mediante la aplicación de un sistema experto junto con
					distintas tecnologías para la clasificación y predicción de
					posibles causas de los defectos en piezas metalúrgicas.</h1>
				<hr>
				<p class="title is-3">
					<strong>Agradecimientos </strong>
				</p>
				<h1 class="subtitle is-4 ">
					A Hector Aragunde, por aportar los conocimientos fundamentales de
					la Industria Metalúrgica. <br> A Pablo Alvarez, por guiarnos
					en el camino correcto. <br> A Marcelo Alfonso Castro, por
					habernos iniciado y guiado en la ciencia de la Inteligencia
					Artificial. <br> A nuestros seres queridos, por apoyarnos cada
					día con este proyecto.
				</h1>
			</div>
		</div>
	</div>
</section>