<section class="hero is-info">
	<div class="hero-body" style="padding-top: 3rem; padding-right: 1.5rem; padding-bottom: 2rem; padding-left: 1.5rem;">
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column">
					<header>
						<h1 class="title is-2 "> <strong> Diagnosticar Defectos</strong></h1>
					</header>
					<h1 class="subtitle is-4">
						Dado un defecto podes obtener de forma fácil y rápida su sub-familia y posibles causas.
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
		<div class="container">
			<h1 class="subtitle is-5" style="margin-bottom:0px;"> <strong> Familias de Defectos </strong></h1>
			<nav class="tabs is-boxed">
				<ul>
					<div data-ng-repeat="familia in familias">
						<li data-ng-class="{'is-active' : tab == familia.nombre}">
							<a href="" data-ng-click="changeTab(familia.nombre)"> <strong>{{familia.nombre | clipsToTitle}} </strong></a>
						</li>
					</div>
				</ul>
			</nav>
		</div>
	</div>
</section>

<section ng-show="tab === undefined" class="hero is-large">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-1 is-spaced">Inicio</h1>
			<h1 class="subtitle is-3">
				Comenzá eligiendo la familia del defecto a diagnosticar, completá las características solicitadas y hacé click en Diagnosticar!
			</h1>

		</div>
	</div>
</section>

<div data-ng-repeat="entry in familias">
	<section data-ng-show="tab == entry.nombre" class="hero is-large">
		<div class="hero-body" style="padding-top: 25px; padding-bottom: 25px;">
			<div class="container">
				<br>
				<div class="tile is-ancestor ">
					<article class="tile notification is-white is-child is-5">
						<h1 class="title is-3">Características</h1>
						<form>
							<div data-ng-repeat="caracteristica in entry.caracteristicas" class="field">
								<label class="label">{{caracteristica.nombre | clipsToNormal}}</label>
								<p class="control">
									<span class="select"> 
						<select style="width:250px;" data-ng-init="caracteristica.valor = ''" data-ng-model="caracteristica.valor" data-ng-options="valor for valor in caracteristica.valoresPermitidos">
							<option value="" > --- Seleccionar opción ---</option>
						</select>
					</span>
								</p>
							</div>
							<br>
							<div class="field is-grouped">
								<p class="control">
									<button data-ng-click="diagnose(entry)" class="button is-primary">Diagnosticar</button>
								</p>
								<p class="control">
									<button data-ng-click="reset(entry)" class="button is-link">Reiniciar</button>
								</p>
							</div>
						</form>
					</article>
					<article class="tile notification is-light is-child is-5">
						<h1 class="title is-3 ">Diagnóstico</h1>
						<div data-ng-show="diagnosisResult">
							<h1 class="title is-3 is-spaced">Subfamilia: {{diagnosisResult.subfamilia}}</h1>
							<h1 class="title is-4 is-spaced">Posibles causas:</h1>
							<h1 class="subtitle is-5 is-spaced">
								<div data-ng-repeat="causa in diagnosisResult.causas">{{causa}}<br><br></div>
							</h1>
							<figure style="margin-left: auto; margin-right: auto;" class="image is-256x256">
								<div data-ng-if="diagnosisResult != null">
									<img data-ng-if="diagnosisResult.imagenUrl != 'No definida'" class="image is-256x256" data-ng-src="{{diagnosisResult.imagenUrl}}">
								</div>
							</figure>
						</div>
						<div data-ng-show="diagnosisResult === undefined">
							<h1 class="title">Hubo un error interno al ejecutar el diagnóstico. Por favor intente nuevamente.</h1>
						</div>
					</article>
					<article class="tile is-child has-text-centered is-2"></article>
				</div>
			</div>
		</div>
	</section>
</div>