<section class="hero is-small  is-dark">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-2 is-spaced">
				<strong>API docs</strong>
			</h1>
			<h1 class="subtitle is-4 ">
				Si querés integrar tu sistema con Castingware, podés consultar la
				documentación y <br> probar los métodos de la API desde esta
				página.
			</h1>
		</div>
	</div>
</section>

<section class="hero is-large is-fluid is-light">
	<div class="hero-header is-large">
		<div class="container has-text-centered is-fluid">
			<div class="intrinsic-container">
				<iframe src="/assets/swagger/swagger.html" height="800"></iframe>
			</div>
		</div>
	</div>
</section>