<div id="homeImg">
	<div style="color: black;" class="homeTitle"><header>CASTINGWARE</header></div>
	<div style="color: black;" class="homeSubTitle"><h1>Calidad + Celeridad</h1></div>
</div>

<section class="hero ">
	<div class="hero-body">
		<div class="container has-text-centered is-bold">
			<h1 class="title is-3 is-spaced">
				<strong>Una herramienta gratuita, para clasificar y conocer
					las posibles causas de los defectos metalúrgicos </strong>
			</h1>
		</div>
	</div>
</section>

<section class="hero is-success is-medium">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="tile is-ancestor ">
				<article class="tile is-child has-text-centered is-1"></article>
				<article class="tile is-child has-text-centered is-3">
					<br>
					<p class="title is-3">Rápido y Preciso</p>
					<br> <br> <i
						class="fa fa-space-shuttle fa-9x fa-rotate-270 is-spaced"
						aria-hidden="true"></i>
				</article>

				<br>

				<article class="tile is-child has-text-centered is-0.5"></article>
				<article class="tile is-child has-text-centered is-3">
					<p class="title is-3">Desarrollado en conjunto con expertos de
						la industria</p>
					<i class="fa fa-users fa-10x" aria-hidden="true"></i>
				</article>

				<br>

				<article class="tile is-child has-text-centered is-0.5"></article>
				<article class="tile is-child has-text-centered is-3">
					<p class="title is-3">Basado en el "International Atlas of
						Casting Defects"</p>
					<i class="fa fa-book fa-10x" aria-hidden="true"></i>
				</article>

				<article class="tile is-child has-text-centered is-1"></article>

			</div>
		</div>
	</div>
	<div class="container is-centered">
		<hr>
	</div>
	<div class="hero-footer">
		<div class="container has-text-centered is-spaced">
			<p class="title is-3 is-spaced">
				<strong>Perfecta para estructurar la categorización de
					defectos</strong>
			</p>
			<p class="subtitle is-5 is-spaced">
				<strong>Podés usarlo directamente con tu mail</strong>
			</p>
			<br>
		</div>
	</div>
</section>

<div class="hero-body">
	<div class="container">
		<h1 class="title is-3 has-text-centered">
			<font color="black" size="6"> <strong>Conocé todas
					tus posibilidades</strong>
			</font>
		</h1>
		<br>
		<div class="tile is-ancestor ">
			<article class="tile is-child is-1"></article>
			<article class="tile is-child is-5">
				<font color="black" size="5">Diagnosticá un defecto en forma
					gratuita</font>
				<p class="subtitle is-5">Seleccioná una familia de defectos
					entre Cavidad, Discontinuidad o Pieza Incompleta, completá las
					características solicitadas y obtené su subclasificación y posibles
					causas al instante.</p>
			</article>
			<article class="tile is-child  is-1"></article>
			<article class="tile is-child is-5">
				<font color="black" size="5">Suscribite al servicio Premium</font> <span
					class="tag is-warning ">Próximamente</span>
				<p class="subtitle is-5">Suscribiéndote te damos la posibilidad
					de diagnosticar defectos de todas las familias disponibles en el
					International Atlas of Casting Defects, además de otros beneficios.</p>
			</article>
			<article class="tile is-child has-text-centered is-1"></article>
		</div>
		<br> <br>
		<div class="tile is-ancestor ">
			<article class="tile is-child is-1"></article>
			<article class="tile is-child is-5">
				<font color="black" size="5">Consultá tu historial de
					diagnósticos</font>
				<p class="subtitle is-5">Si te olvidaste el diagnóstico,
					cerraste el explorador por error, o simplemente querés revisar tu
					actividad, consultá el Registro de operaciones.</p>
			</article>
			<article class="tile is-child  is-1"></article>
			<article class="tile is-child is-5">
				<font color="black" size="5">Integrate por medio de nuestra
					API</font>
				<p class="subtitle is-5" ontouchstart="this.classList.toggle('hover');">
					Si querés que un sistema propio se comunique con el nuestro te
					ofrecemos una API con todos los métodos necesarios para realizar
					diagnósticos, revisá nuestra <a href="/#/docs">
							documentación </a> o <a href="/#/about">
							comunicate</a> con nosotros.
				</p>
			</article>
			<article class="tile is-child has-text-centered is-1"></article>
		</div>
	</div>
</div>

<div class="container is-centered">
	<hr>
</div>

<section class="hero is-info">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-3 is-spaced">
				<strong>Nuestra misión </strong>
			</h1>
			<h1 class="subtitle is-3">En Castingware aspiramos aumentar la
				calidad y celeridad de los procesos de fundición, tratando de
				reducir la cantidad de defectos repetitivos que afectan a la
				industria, a partir de la asistencia para la clasificación de
				defectos e identificación de causas raíces.</h1>
		</div>
	</div>
</section>