<section class="hero is-light is-large">
	<div class="hero-body ">
		<div class="vCentered">
			<div class="tile is-ancestor" >
				<article class="tile is-child is-4"></article>
				<article class="tile is-child is-4 notification is-white box">
				   	<br>
				 	<p class="fff" style="font-size:200%;" >CASTINGWARE</p>
				 	<br>
					<h1 class="subtitle is-4 is-spaced">Accede con tu correo para utilizar todas las funciones</h1>
					<div class="control has-icon is-expanded">
			          <input data-ng-model="$root.user" data-ng-keypress="submitLogIn($event)" type="email" class="input required email" placeholder="Email" required>
			          <span class="icon is-small"><i class="fa fa-envelope"></i></span>
			        </div>
			        <br>
			        <p class="control" style="text-align: right;">
			          <button data-ng-click="logIn()" class="button is-primary">Ingresar</button>
			        </p>
			        <br>
				</article>
				<article class="tile is-child is-4"></article>
			</div>
		</div>
	</div>
</section>